.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
.types
log.*
/storybook-static
/src-tauri/target
/src-tauri/WixTools
/src-tauri/Cargo.lock
/playwright-report
test-results.json
